<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <link rel="stylesheet" href="/css/perfil.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tourney:wght@300&family=Zen+Kurenaido&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

       <!--   
   <div class="tablafalsa">

    <div class="tabla1">
        <ul>
            <li>Preguntas </li>
            <li>image</a></li>
            <li>Pregunta</li>
            <li>meme</a></li>
        </ul>

        <div class="caja2">

            <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <img  src="/img/bulma1.jpg">
            <button class="botonres">respuestas</button>

            <button class="botonres">respuestas</button>

            <button class="botonres">respuestas</button>

            <button class="botonres">respuestas</button>

            <img  src="/img/bulma 2.jpg">

        </div>

        <div class="caja3">

            <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <img  src="/img/bulma1.jpg">
            <button class="botonres">respuestas</button>

            <button class="botonres">respuestas</button>

            <button class="botonres">respuestas</button>

            <button class="botonres">respuestas</button>

            <img  src="/img/bulma 2.jpg">

        </div>

        <div class="caja4">

            <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <img  src="/img/bulma1.jpg">
            <button class="botonres">respuestas</button>

            <button class="botonres">respuestas</button>

            <button class="botonres">respuestas</button>

            <button class="botonres">respuestas</button>

            <img  src="/img/bulma 2.jpg">

        </div>


    </div>
   </div>


 -->

   <div class="produc-precio">
    <!--Table-->
    <table class="table table-striped">

      <!--Table head-->
      <thead>
        <tr>
          <th>question</th>
          <th>image</th>
          <th>answer</th>
          <th>answer</th>
          <th>answer</th>
          <th>answer</th>
          <th>meme</th>
        </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody>
        <tr>
          <td>¿porque bulma usa esta ropa?</td>
          <td class="cuadrado"> <img class="foto2" src="/img/bulma1.jpg"></td>
          <td>porque roshi es un pajin </td>
          <td>porque se lo regalo yamcha</td>
          <td>porque le robaron su ropa</td>
          <td>porque me falto ver el ball y no se la respuesta</td>
          <td class="cuadrado"><img class="foto2" src="/img/bulma1.jpg"></td>
        </tr>
        <tr>
          <td>¿usted es el jefe de los minisupers?</td>
          <td class="cuadrado"> <img class="foto2" src="/img/preg.jpg"></td>
          <td>¿en serio? </td>
          <td>¿usted?</td>
          <td>gracias vuelvan prontos</td>
          <td>Lorem ipsum noseque</td>
          <td class="cuadrado"><img class="foto2" src="/img/preg.jpg"></td>
        </tr>
        <tr>
          <td>¿quien es este personaje?</td>
          <td class="cuadrado"> <img class="foto2" src="/img/sayan.jpg"></td>
          <td>goku fachero</td>
          <td>goten</td>
          <td>turles chikito</td>
          <td>bardock chikito</td>
          <td class="cuadrado"><img class="foto2" src="/img/sayan.jpg"></td>
        </tr>

        <tr>
          <td>¿ya no se que poner?</td>
          <td class="cuadrado"> <img class="foto2" src="/img/nose.jpg"></td>
          <td>lore, lups ni idea</td>
          <td>lorem lupus no se q</td>
          <td>asfdsadf</td>
          <td>lorememmm</td>
          <td class="cuadrado"><img class="foto2" src="/img/nose.jpg"></td>
        </tr>
      
        
        
      </tbody>
      <!--Table body-->


    </table>
    <!--Table-->
  </div>
</section>
</body>
</html>