<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tourney:wght@300&family=Zen+Kurenaido&display=swap" rel="stylesheet">
    <title>MPC</title>
</head>
<body>
    <header class="main-header">

    </header>


    <main>



        <div class="container">
            <div class="d1">1</div>
            <div class="d2">2</div>
            <div class="d3">3</div>
            <div class="d4">4</div>
            <div class="d5">5</div>
          </div>




    
        <div class="tablafalsa">
        
                <div class="caja2">
        <div class="letras"> 
            <p class="p"> "Lorem ipsum dolor sit amet, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
            <img class="fotop" src="/img/bulma1.jpg">
                    <button class="botonres">respuestas</button>
        
                    <button class="botonres">respuestas</button>
        
                    <button class="botonres">respuestas</button>
        
                    <button class="botonres">respuestas</button>
        
                    <img class="fotop" src="/img/bulma 2.jpg">
        
                </div>
        
                <div class="caja3">
        
                    <p class="p"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <img  class="fotop" src="/img/bulma1.jpg">
                    <button class="botonres">respuestas</button>
        
                    <button class="botonres">respuestas</button>
        
                    <button class="botonres">respuestas</button>
        
                    <button class="botonres">respuestas</button>
        
                    <img  class="fotop" src="/img/bulma 2.jpg">
        
                </div>
        
                <div class="caja4">
        
                    <p class="p"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <img  class="fotop" src="/img/bulma1.jpg">
                    <button class="botonres">respuestas</button>
        
                    <button class="botonres">respuestas</button>
        
                    <button class="botonres">respuestas</button>
        
                    <button class="botonres">respuestas</button>
        
                    <img   class="fotop" src="/img/bulma 2.jpg">
        
                </div>
        
        
            </div>
           

    </main>



    <footer class="main-footer">
       
    </footer>
</body>
</html>